@model System.Data.Entity.Infrastructure.DbQuery<BSEF12m547.Models.Doctor>
@{
    ViewBag.Title = "ViewDoc";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

    <div id="page-wrapper">
        <div id="page-inner">


            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        Dashboard <small>Summary of your App</small>
                    </h1>
                    @Html.Partial("Partial2",Model)
                </div>
            </div>
            <footer>
                <p>All right reserved. Template by: <a href="http://webthemez.com">Mehreen</a></p>
            </footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>