@model BSEF12m547.Models.Doctor

@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<body>

    <!--/. NAV TOP  -->
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">


            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        Hello!! <small>@Model.Name</small>
                    </h1>
                </div>
            </div>
            <footer>
                <p>All right reserved. Template by: <a href="http://webthemez.com">Mehreen</a></p>
            </footer>
        </div>
    </div>


</body>
</html>