
@{
    ViewBag.Title = "AppointmentDetail";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@model List<BSEF12m547.Models.Appointment>
@using BSEF12m547.Models;


    <!--/. NAV TOP  -->
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            .

            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                       Appointment <small>Details</small>
                    </h1>
                </div>
                <div class="">
                    <div class="row">
                        @{
                            foreach (Appointment e in Model)
                            {
                                
                             if(Session["user"]!=null)
                                {
                                    int id = (int)Session["user"];
                                    Patient p = new Patient();
                                    userEntities2 ue = new userEntities2();
                                    p = ue.Patients.First(x => x.Id == id);
                                 Doctor d = new Doctor();
                                 d= ue.Doctors.First(x=>x.Id== e.DocID);
                                 if(p.Id==e.PatientID)
                                 {
                                   <div class="col-md-3 col-sm-6">
                                    <div>
                                        Appointment number:<h4>@e.Id:</h4>
                                        Your name: <span class="deg">@p.Name</span><br />

                                        Doctor name:<span class="deg">@d.Name</span><br />
                                        Date:<span class="deg">@e.Date</span>
                                    </div>
                                    </div> 
                                 }
                                }                                       
                             
                            }
                        }
                    </div>
                </div>
            </div>
            <footer>
                <p>All right reserved. <a href="http://webthemez.com">Mehreen</a></p>
            </footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
