@model BSEF12m547.Models.Patient
@{
    ViewBag.Title = "Route";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <div id="page-wrapper">
        <div id="page-inner">


            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        Route  <small>Between you and Doctor</small>
                    </h1>
                    <div id="googleMap" style="width:1000px;height:380px;"></div>
                    <input type="text" value="@Model.City"  style="visibility:hidden"  id="startvalue" />
                    <input type="text" value="@TempData["m"]" style="visibility:hidden" id="endvalue" /><br />
                    <button onclick="Button1_onclick()">Get Route</button>
                </div>
            </div>
            <footer>
                <p>All right reserved. Template by: <a href="http://webthemez.com">Mehreen</a></p>
            </footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
</body>
</html>